@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import "tailwindcss";

html, body {
  /* @apply bg-[#260303] text-[#F5960B]; */
  @apply bg-[#4B0505] text-[#F5960B];
  font-family: "Permanent Marker", cursive;
  color: #F5960B;
}

* {
  color: #F5960B;
  font-family: "Permanent Marker", cursive;
}

.permanent-marker-regular {
  font-weight: 400;
  font-style: normal;
}
